body {
    font-family: 'Saira', sans-serif;
    text-align: center;
    background-color: #e6f3e2;
    color: rgb(151, 125, 69);
}

/* Styling for game title */
h1 {
    font-family: 'Press Start 2P',static;
    color: #566e2f;
}
button{
    font-family: 'Audiowide', sans-serif;
    text-align: center;
}

